<table>
    <thead>
        <tr>
            <th>검색어</th>
            <th>요청 횟수</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<rows.length; i++){ %>
        <% let search = rows[i]; %>
            <tr>
                <td> <%= search.sch_name %> </td>
                <td> <%= search.cnt %> </td>
            </tr>
        <% } %>
    </tbody>
</table>